html, body, body > .ember-view {
  height: 100%;
}

nav {
  flex-wrap: nowrap !important;
}

textarea {
  background: transparent;
  color: white;
  resize: none;
  border: 0 none;
  font-size: 1em;
  outline: none;
  min-height: 30vh;
}

p, li, ol, ul {
  margin: 0;
}

body > .ember-view {
  display: flex;
  flex-direction: column;
}

.scroll-y {
  overflow-y: auto;
}

.card {
  min-height: 30vh;
}

.custom-control-label {
  cursor: pointer;
}
